@charset "utf-8";
/* CSS Document */

* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
    margin-bottom:10px;
    }
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
       
        }
/* Mobile Only */
@media (max-width: 767px) {
     .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}

